{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Proxy Page</title>
    <!-- base:css -->
    <link rel="stylesheet" href="https://priya-tweakycloud-project.s3.ap-south-1.amazonaws.com/static/proxyapp/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://priya-tweakycloud-project.s3.ap-south-1.amazonaws.com/static/proxyapp/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="https://priya-tweakycloud-project.s3.ap-south-1.amazonaws.com/static/proxyapp/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="https://priya-tweakycloud-project.s3.ap-south-1.amazonaws.com/static/proxyapp/images/favicon.png" />
    
   <!-- material design icons -->
   <script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>
   <!-- buttons cdn -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></script>
 <!-- chart js -->
 <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
  
</head>
 


<body>
  <div class="container-scroller d-flex">
    <!-- partial:./partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item sidebar-category">
          
          <h1 class="text-white mb-2" style="font-family: Calibri; font-size: 30px;"> <i>Proxy</i>
          </h1>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'proxy_home' %}">
            
            <span class="menu-title" style="font-family: Calibri; font-size: 20px;"><i>DashBoard</i></span>
            <!-- <div class="badge badge-info badge-pill">2</div> -->
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
            
            <span class="menu-title" style="font-family: Calibri; font-size: 20px;"><i>Transfer <br> Operations</i></span>
          </a>
          <div class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="{% url 'proxy_transfer_request' %}" style="font-family: Calibri; font-size: 20px;"><i>Transfer Request</i></a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#auth1" aria-expanded="false" aria-controls="auth1">
            <!-- <iconify-icon icon="bxs:data"></iconify-icon> -->
            <span class="menu-title" style="font-family: Calibri; font-size: 20px;"><i>Storage<br> Analysis</i></span>
          </a>
          <div class="collapse" id="auth1">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="{% url 'proxy_storage_analysis' %}" style="font-family: Calibri; font-size: 20px;"><i>Graph Analysis</i></a></li>

            </ul>
          </div>
        </li>
        
        
        
        
      </ul>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:./partials/_navbar.html -->
      <nav class="navbar col-lg-12 col-12 px-0 py-0 py-lg-4 d-flex flex-row">
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          </button>
          <div class="navbar-brand-wrapper">
            
          </div>
          <h2 class="font-weight-bold mb-0 d-none d-md-block mt-1 px-4" style="font-family: Calibri;font-size: 30px; "><i>DashBoard</i></h2>
          <ul class="navbar-nav navbar-nav-right">

            
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          </button>
        </div>
        <div class="navbar-menu-wrapper navbar-search-wrapper d-none d-lg-flex align-items-center">
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item">
              <a href="{% url 'main_proxy_login' %}" class="nav-link icon-link">
                <i class=" text-primary" style="font-size: 15px;"> &nbsp; Log Out</i>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row justify-content-center">
            <div class="col-lg-8"> 
              <div class="card">
                <div class="card-body">
                  <canvas id="myChart" width="100" height="30"></canvas>
              
             <script>
             const ctx = document.getElementById('myChart').getContext('2d');
             const myChart = new Chart(ctx, {
                 type: 'bar',
                 data: {
                     labels: [{% for i in y %} '{{i.uploaded_video_file}}', {% endfor %}],
                     
                     datasets: [{
                         label: ['{{client.client_fullname}}'],
                         data: [{% for i in y %} {{i.file_size}}, {% endfor %}],
                       
                         backgroundColor: [
                             'rgba(255, 99, 132, )',
                             'rgba(54, 162, 235, )',
                             'rgba(255, 206, 86, )',
                             'rgba(75, 192, 192, )',
                             'rgba(153, 102, 255,)',
                             'rgba(255, 159, 64, )'
                         ],
                         borderColor: [
                             'rgba(255, 99, 132, 1)',
                             'rgba(54, 162, 235, 1)',
                             'rgba(255, 206, 86, 1)',
                             'rgba(75, 192, 192, 1)',
                             'rgba(153, 102, 255, 1)',
                             'rgba(255, 159, 64, 1)'
                         ],
                         borderWidth: 1
                     },
                     
                     ]

                     
                 },
                 options: {
                     scales: {
                         y: {
                             beginAtZero: true
                         }
                     }
                 }
             });
             </script>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <div  class="container-fluid">
           </div>
        <!-- content-wrapper ends -->
        <!-- partial:./partials/_footer.html -->
        <footer class="footer">
          <div class="card">
            <div class="card-body">
              <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Hycloud - Tweaky Hybrid Cloud Storage All Rights Reserved 2022</span>
                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Distributed By: <a href="https://codebook.in/" target="_blank"><b class="text-primary">Codebook</b></a></span>
                <!-- <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Hycloud - Tweaky Hybrid Cloud Storage</span> -->
              </div>
              
            </div>
          </div>
        </footer>
        <br>
        <!-- partial -->
      </div>
      <br>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
 <!-- base:js -->
 <script src="https://priya-tweakycloud-project.s3.ap-south-1.amazonaws.com/static/proxyapp/vendors/js/vendor.bundle.base.js"></script>
 <!-- endinject -->
 <!-- Plugin js for this page-->
 <script src="https://priya-tweakycloud-project.s3.ap-south-1.amazonaws.com/static/proxyapp/vendors/chart.js/Chart.min.js"></script>
 <!-- End plugin js for this page-->
 <!-- inject:js -->
 <script src="https://priya-tweakycloud-project.s3.ap-south-1.amazonaws.com/static/proxyapp/js/off-canvas.js"></script>
 <script src="https://priya-tweakycloud-project.s3.ap-south-1.amazonaws.com/static/proxyapp/js/hoverable-collapse.js"></script>
 <script src="https://priya-tweakycloud-project.s3.ap-south-1.amazonaws.com/static/proxyapp/js/template.js"></script>
 <!-- endinject -->
 <!-- plugin js for this page -->
 <!-- End plugin js for this page -->
 <!-- Custom js for this page-->
 <script src="https://priya-tweakycloud-project.s3.ap-south-1.amazonaws.com/static/proxyapp/js/dashboard.js"></script>
 <!-- End custom js for this page-->
</body>

</html>